body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: relative;
}

.remote-control {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.remote-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.1);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.game-intro {
    width: 100%;
    height: 100%;
}

.game-intro img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#page6 {
    cursor: none;
}

.game-content {
    width: 100%;
    height: 100%;
}

#page6Cursor {
    position: absolute;
    width: 120px;
    /* 커서 이미지를 키우는 크기 */
    height: 120px;
    pointer-events: none;
    /* 커서 이미지가 클릭 이벤트를 방해하지 않도록 설정 */
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.gif {
    position: absolute;
    width: 400px;
    height: 400px;
    pointer-events: none;
    /* GIF 이미지에 클릭 이벤트가 걸리지 않도록 설정 */
    transform: translate(-50%, -50%);
    animation: fadeOut 2s forwards;
    /* 2초 동안 서서히 사라지는 애니메이션 */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.rain {
    position: absolute;
    top: -100px;
    /* GIF가 위에서 시작하도록 위치 설정 */
    animation: rain-fall 5s linear infinite;
    pointer-events: none;
    /* GIF에 클릭 이벤트가 걸리지 않도록 설정 */
    animation-timing-function: linear;
}

.page7-container img {
    width: 15rem;
    height: 15rem;
}

@keyframes rain-fall {
    to {
        transform: translateY(100vh);
        /* GIF가 아래로 흘러내리도록 설정 */
    }
}

.page6_bg {
    width: 100%;
    height: 100%;
    background-image: url("../image/page6_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page7_bg {
    width: 100%;
    height: 100%;
    background-image: url("../image/page7_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page8-container, .page9-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.walking-duck {
    position: absolute;
    animation: walk-left 10s linear infinite;
    cursor: grab;
}

@keyframes walk-left {
    from {
        right: -10%; /* 화면 오른쪽 밖에서 시작 */
    }
    to {
        right: 110%; /* 화면 왼쪽 밖으로 이동 */
    }
}

.page8_bg {
    width: 100%;
    height: 100%;
    background-image: url("../image/page8_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.duck {
    position: absolute;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

#duck1 {
    top: 15%;
    left: 15%;
}

#duck2 {
    top: 15%;
    right: 15%;
}

#duck3 {
    bottom: 15%;
    left: 15%;
}

#duck4 {
    bottom: 15%;
    right: 15%;
}

#duck5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page9_bg {
    width: 100%;
    height: 100%;
    background-image: url("../image/page9_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page10_bg {
    width: 100%;
    height: 100%;
    background: url("../image/page9_bg.jpg") repeat-x;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    animation: moveBackground 10s linear infinite; /* 애니메이션 적용 */
}

.page10-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#page10Container img {
    width: 105rem;
    height: 55rem;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100vw 0; /* 배경 이미지가 한 화면 너비만큼 이동 */
    }
}

.fullscreen-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-video video {
    max-width: 80%;
    max-height: 80%;
}

.game-description-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 11%, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.game-description-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-description-content img {
    margin: 80px 0px; /* 이미지 간의 간격 조정 */
    max-width: 80%;
    height: auto;
}

